<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppEngGo"
        android:usesCleartextTraffic="true">

        <!-- LOGIN chạy đầu -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.VocabularyActivity" />
        <activity android:name=".view.PvpActivity" />
        <activity android:name=".view.QuizActivity" />
        <activity android:name=".view.QuizResultActivity" />
        <activity android:name=".view.QuizReviewActivity" />
        <activity android:name=".view.ThemeSelectionActivity" />
        <activity android:name=".view.ChatActivity" />
        <activity android:name=".view.FindFriendActivity" />
        <activity
            android:name=".view.NotificationActivity"
            android:label="Thông báo"
            android:exported="true" />
        <activity android:name=".view.WaitingRoomActivity" />
        <activity android:name=".view.PvpResultActivity" />
        <activity android:name=".view.PvpQuizActivity" />
        <activity android:name=".view.PvpMatchingActivity" />
        <activity android:name=".view.AllBadgesActivity" />
        <activity android:name=".view.ProfileInfoActivity" />
        <activity android:name=".view.ChangePasswordActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>